//
//-- Welcome
//

.welcome {
	background: $color-base url(../images/welcome_background.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	height: em(740);
}

.welcome__title {
	font-size: rem(118);
	text-transform: uppercase;
	font-weight: 300;
	color: #FFF;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	line-height: 1;
	text-align: center;
	@include vertical-center;
}

.welcome__title-complement {
	font-size: rem(36);
	display: block;
	font-weight: 600;
}