//
//-- Header
//

.page-nav {
	background: $color-base;
	color: #FFF;
	text-align: center;
	padding: 1.5em;
}

.page-nav__li {
	display: inline-block;
	position: relative;
	
	&::after {
		content: "-";
		position: absolute;
		top: 50%;
		right: -0.15em;
		transform: translate(0, -50%);
	}

	&:last-child::after {
		display: none;
	}
}

.page-nav__item {
	display: block;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	transition: opacity 0.2s ease;
	font-size: em(18);
	padding: 1em 2em;

	&:hover {
		opacity: 0.7;
	}
}