//
//-- Helper Classes
//

// align center
.ac {
	text-align: center;
}

// margin-auto class
.ma {
	margin-left: auto;
	margin-right: auto;
}

// site width class
.site-width {
	max-width: $site-width;
}

// clearfix class / grid class
.clearfix, .grid {
	&::before, &::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}